huggingface-hub==0.20.1
numpy==1.24.3
scikit-learn==1.1.0
scipy==1.9.1
tokenizers==0.15.0
torch==1.12.1
torch-geometric==2.0.3
torchaudio==0.12.1
torchdata==0.7.1
torchtext==0.16.1
torchvision==0.13.1
transformers==4.37.0
pandas==1.4.3